html {
  background: black;
  color: black;
  background-image: url('technology_wallpaper.jpg');
  background-size: cover;
}
.box {
  background: #008fae;
  width: 350px;
  height: 300px;
  top: 150px;
  padding-left: 20px;
  padding-bottom: 10px;
  box-shadow: 10px 10px 5px #ffffff;
  border: 3px solid black;
  border-radius: 25px;
  overflow: scroll;
}
a, h1, h3, form {
  line-height: 1em;
}
a:link, a:hover, a:active {
  color: black;
}
a:visited {
  color: white;
}
img {
   width: 50%;
   border-radius: 25px; 
   height: auto;
}
#error {
  color: yellow;
  background: black;
}
