<div class="box">
  <body>
    <h1>My Skills</h1>

    <ul>
      <li><a href="/skills">List of Skills</a></li>
      <li><a href="/skills/new">New Skill</a></li>
    </ul>
    <img src = 'technology.jpg'>
  </body>
</div>
